<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coronavirus COVID-19 Latest Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>COVID-19 Situation report</h1>
<div>
    <p>total confirmed <span th:text="${totalConfirmed}"/></p>
    <p>total deaths <span th:text="${totalDeaths}"/></p>
    <p>total confirmed <span th:text="${totalConfirmed}"/></p>
    <p> latest update: <span th:text="${lastUpdate}"/></p>
</div>

</body>
</html>